/**
 * Critical CSS
 */

*, *:before, *:after
  box-sizing border-box
html
  font-size 26px
html, body
  margin 0
li
  list-style none

/**
 * Load above-the-fold (critical) Content
 * Eg.
 */

// @import 'components/navigation'
// @import 'components/hero'