@import 'nib'
global-reset()
*, *:before, *:after
  box-sizing border-box

/**
 * Abstracts [ Theme, Variables, MediaQueries ]
 */
@import 'abstracts/_base'

/**
 * CORE
 * Essential HTML & Media Query setup
 */
@import 'core/_base'

/**
* Mixins
**/
@import 'mixins/_base'

/**
 * COMMON Stylying
**/
@import 'common/_base'

/**
* Motion Styling
**/
@import 'motion/_base'

/**
* Elements [header, footer, forms, modal, card]
**/ 
@import 'elements/_base'

/**
 * INTERACTIVES & Links
 */
@import 'ui/_base'



